<div class="container">
  <div class="intro row">
    <div class="api-graphic-container">
      <img src="/assets/api-graphic.png" alt="TODO">
    </div>
    <h1>Roller Derby API <br><br> Documentation</h1>
    <p>The Roller Derby API is organized around REST. It hase four endpoints: the Structure endpoint, Official Types endpoint, Rules endpoint, and the Officials endpoint.</p>
  </div>
  <mat-divider class="first-divider"></mat-divider>
    <h2>Endpoints</h2>
    <div class="endpoint-button-container">
      <button routerLink="/docs/structure" class="endpoint-button" mat-button><p><b>Structure</b></p></button>
      <button routerLink="/docs/officialTypes" class="endpoint-button" mat-button><p><b>Official Types</b></p></button>
      <button routerLink="/docs/rules" class="endpoint-button" mat-button><p><b>Rules</b></p></button>
      <button routerLink="/docs/officials" class="endpoint-button" mat-button><p><b>Officials</b></p></button>
    </div>
</div>
  
