<div class="container">
  <div class="intro row">
    <div class="api-graphic-container">
      <img src="/assets/api-graphic.png">
    </div>
    <h1>Roller Derby API Documentation</h1>
    <p>The Roller Derby API is organized around REST. It hase three endpoints: the Structure endpoint, Officials endpoint, and the Rules endpoint</p>
  </div>
  <h2>Endpoints</h2>
  <div class="endpoint-button-container">
      <table>
        <tr>
          <td>
            <a href="/docs/structure"><div class="endpoint-button">
              <h4>Structure</h4>
            </div></a>
          </td>
          <td>
            <a href="/docs/officials"><div class="endpoint-button">
              <h4>Officials</h4>
            </div></a>
          </td>
          <td>
            <a href="/docs/rules"><div class="endpoint-button">
              <h4>Rules</h4>
            </div></a>
          </td>
        </tr>
      </table>
  </div>
</div>
