.intro {
    width: 100%;
    margin: 0 auto;
    margin-top: 5%;
}

h1 {
    position: absolute;
    top: 250px; 
    right: 75px;
    display: inline block;
    float: right;
    width: 50%;
    color: white;
    font-size: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.intro p {
    top: 350px;
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    width: 50%;
    color: #2E413D;
    font-family: 'Lora', serif;
}

.api-graphic-container {
    display: inline-block;
    justify-content: start;
    position: left;
    margin-left: 5%;
    width: 20%;
    height: 5%;
}

.first-divider {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    color: #2E413D;
  }

h2 {
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
    color:#DEF4EA;
    font-size: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.endpoint-button-container {
    margin-top: 5%;
    margin: 0 auto;
    display: block;
    height: 450px;
    width: 55%;
}

.endpoint-button {
    width: 200px;
    height: 100px;
    margin: 2%;
    border-radius: 18px;
    font-family: 'Lora', serif;
    background-color: #74AAA2;
}

.endpoint-button p {
    margin: 0 auto;
    color: white;
}

    @media (max-width: 768px){
        .intro {
            display: block;
            width: 100%;
            margin-top: 5%;
        }

        .intro p {
            margin-left: 33%;
        }
        .api-graphic-container {
            display: block;
            justify-content: start;
            position: left;
            width: 2%;
            position: center;
            margin-top: 15%;
        }
        
        h1 {
            display: block;
            color: white;
            top: 250px; 
            left: 33%;
            width: 100%;
            margin-left: 50%;
        }

        .intro p {
            top: 5%;
            position: relative;
            display: block;
            margin-bottom: 5%;
            text-align: center;
            width: 100%;
        }
        
        .first-divider {
            margin-left: 50%;
            width: 75%;
        }

        h2 {
            margin-left: 33%;
            margin-top: 15%;
            margin-bottom: 15%;
        }

        .endpoint-button-container {
            margin-left: 33%;
            height: 150px;
        }

        .endpoint-button {
            margin-bottom: 5%;
        }
    }