<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <title>League Structure Endpoint</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&family=Rock+Salt&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/structure.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/global.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body>
  <%- include('partials/nav') %>
  <h1>League Structure</h1>
  <h1>Endpoint</h1>
  <div>
    <form action="/makeQueryStructure" method="POST">
      <label for="queryParam">Enter query: </label>
      <input
        id="queryParam"
        type="text"
        name="queryParam_field"
        value="structure" />
      <input type="submit" value="Search" />
    </form>
  </div>

  <div class="code-container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active border border-light border-bottom-0" aria-current="page" href="#">JSON</a>
      </li>
    </ul>
    <div class="code-sample">
      <pre>
        <code>
          [
            {
              "modern-banked-track": {
                "governing-body": string,
                "governing-body-inception": string,
                "founding-leagues": [string]
              },
              "flat-track": {
                "junior-derby": {
                  "governing-body": string,
                  "governing-body-inception": string
                },
                "womens-derby": {
                  "governing-body": string,
                  "governing-body-inception": string,
                  "divisions": [string]
                },
                "mens-derby": {
                  "governing-body": string,
                  "governing-body-inception": string
                }
              },
              "officials": {
                "types": [string],
                "program-certifications": {
                  "Level-1": string,
                  "Level-2": string,
                  "Level-3": string
                },
                "referees": {
                  "head-referee": {
                    "amount": string,
                    "role": string
                  },
                  "pack-referee": {
                    "amount": string,
                    "role": string
                  },
                  "jammer-referee": {
                    "amount": string,
                    "role": string
                  }
                },
                "non-skating-officials": {
                  "scorekeepers": {
                    "amount": string,
                    "role": string
                  },
                  "penalty-trackers": {
                    "amount": string,
                    "role": string
                  },
                  "penalty-box-manager": {
                    "amount": string",
                    "role": string
                  },
                  "penalty-box-timer": {
                    "amount": string,
                    "role": string
                  },
                  "jam-timer": {
                    "amount": string,
                    "role": string
                  },
                  "lineup-tracker": {
                    "amount": string,
                    "role": string
                  },
                  "scoreboard-operator": {
                    "amount": string,
                    "role": string
                  }
                }
              }
            }
          ]
          </code> 
      </pre>
    </div>
  </div>
  <%- include('partials/footer') %>
</body>
</html>