#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    min-width: 100%;
    height: 3.5rem;
    margin-top: 5%;
}

#footer p {
    text-align: center;
    width: 100%;
    height: 2.5rem;
    font-size: xx-small;
    font-family: "Gudea", sans-serif;
}

#footer a:link { text-decoration: none; }

#footer a:visited { text-decoration: none; color: black; }

#footer a:hover { text-decoration: none; }

#footer a:active { text-decoration: none; }