#footer {
    position: relative;
    text-align: center;
    min-width: 100%;
    height: 3.5rem;
    margin-top: 5%;
}

#footer p {
    text-align: center;
    width: 100%;
    height: 2.5rem;
    color: #2E413D;
    font-size: xx-small;
    font-family: 'Lora', serif;
}

#footer a:link { text-decoration: none; }

#footer a:visited { text-decoration: none; color: black; }

#footer a:hover { text-decoration: none; }

#footer a:active { text-decoration: none; }

@media (max-width: 768px){
    #footer {
        display: block;
        position: absolute;
        margin-top: 100%;
        width: 100%;
    }

    #footer p {
        margin-left: 22%;
    }
}