h1 {
    margin-top: 10%;
    margin-bottom: 5%;
    color: white;
    font-size: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.rules-info p{
    text-align: center;
    width: 75%;
    margin: 0 auto;
    color: #2E413D;
    font-family: 'Lora', serif;
  }

  .first-divider {
    margin: 0 auto;
    margin-top: 2%;
    width: 75%;
    color: #2E413D;
  }

.endpoint-container {
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 100px;
    width: 350px;
    border: solid #2E413D 3px;
  }
  
  .endpoint-container p {
    margin-top: 10%;
    text-align: center;
    color: #2E413D;
    font-family: 'Lora', serif;
  }
  
.code-container {
margin: 0 auto;
width: 75%;
border-radius: 8px;
background-color: #DEF4EA;
}

.tab-text {
  color:#2E413D;
}

pre.code {
  white-space: pre-wrap;
}

pre.code::before {
  counter-reset: listing;
}

pre.code code {
  counter-increment: listing;
}

pre.code code::before {
  content: counter(listing) ". ";
  display: inline-block;
  width: 8em;
  padding-left: auto;
  margin-left: auto;
  text-align: right;
}

@media (max-width: 768px){
  h1 {
    margin-top: 20%;
    margin-left: 22%;
    width: 100%;
    margin-bottom: 5%;
    justify-content: center;
 }

 .rules-info p{
    margin-left: 22%;
    width: 100%;
    text-align:  center;
  }

 .endpoint-container {
  margin-left: 22%;
 }

 .endpoint-container p {
  margin-top: 10%;
  text-align: center;
}
 .code-container {
  margin-top: 10%;
  width: 100%;
  margin-left: 22%;
  }
}