/* Error page styles */
.not-found-img {
    margin-left: 40%;
}

h1  {
    margin-top: 10%;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

.error-image {
    width: 30%;
    height: 30%;
    margin-bottom: 25%;
}