<h1>Officials Endpoint</h1>
<div class="officials-intro">
    <p>Search the database for nonce-information.</p>
  </div>
<mat-divider class="first-divider"></mat-divider>
  <div class="structure-query-form">
    <h2>Query the Database</h2>
    <mat-divider></mat-divider>
    <div class="input-collection">
      <mat-form-field>
        <mat-label>Input</mat-label>
        <input matInput [(ngModel)]="searchValue" (ngModelChange)="search()">
      </mat-form-field>
    </div>
  </div>

<div class="mat-table">
    <table mat-table [dataSource]="officials" class="official-table mat-elevation-z8">

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> <b>First Name</b> </th>
            <td mat-cell *matCellDef="let official"> {{official.firstName}} </td>
        </ng-container>
    
        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> <b>Last Name</b> </th>
            <td mat-cell *matCellDef="let official"> {{official.lastName}} </td>
        </ng-container>
    
        <!-- Level Column -->
        <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef> <b>Level</b> </th>
            <td mat-cell *matCellDef="let official"> {{official.level}} </td>
        </ng-container>
    
        <!-- Experience Column -->
        <ng-container matColumnDef="experience">
            <th mat-header-cell *matHeaderCellDef> <b>Experience</b> </th> 
            <td mat-cell *matCellDef="let official"> {{ formatAsYears(official.startDate._seconds) }} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>    
</div>