<!-- HTML for the app's Structure Endpoint page -->
<div class="container">
  <h1>Structure Endpoint</h1>
  <div class="structure-intro row">
    <p>The Structure endpoint provides information about the Women's Flat Track Derby Association, Junior Roller Derby Association, Men's Roller Derby Association, and Roller Derby Coalition of Leagues roller derby organizations.</p>
  </div>
  <mat-divider class="first-divider"></mat-divider>
  <div class="endpoint-container row">
    <p>https://us-central1-rollerderbyapi.cloudfunctions.net/api/structure</p>
  </div>
  
  <div class="code-container row">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active border border-light border-bottom-0" aria-current="page" href="#"><span class="tab-text">JSON</span></a>
        </li>
      </ul>
      <div class="code-sample" *ngFor="let structure of structures">
        <pre class="code">
          <code>{{ '{' }}</code>
          <code>   modern_banked_track: {{'{' }}</code>
          <code>       founding_leagues: {{ structure.modern_banked_track.founding_leagues }},</code>
          <code>       governing_body: {{ structure.modern_banked_track.governing_body }},</code>
          <code>       governing_body_inception: {{ structure.modern_banked_track.governing_body_inception }}</code>
          <code>{{'   },' }}</code>
          <code>   flat_track: {{'{' }}</code>
          <code>            junior_derby: {{'{' }}</code>
          <code>                governing_body: {{structure.flat_track.junior_derby.governing_body}},</code>
          <code>                governing_body_inception: {{structure.flat_track.junior_derby.governing_body_inception}}</code>
          <code>{{'             },' }}</code>
          <code>            womens_derby: {{ '{' }}</code>
          <code>                governing_body: {{ structure.flat_track.womens_derby.governing_body }},</code>
          <code>                governing_body_inception: {{ structure.flat_track.womens_derby.governing_body_inception }},</code>
          <code>                divisions: {{ structure.flat_track.womens_derby.divisions }}</code>
          <code>{{'             },' }}</code>
          <code>            mens_derby: {{ '{' }}</code>
          <code>                governing_body: {{ structure.flat_track.mens_derby.governing_body }},</code>
          <code>                governing_body_inception: {{ structure.flat_track.mens_derby.governing_body_inception }}</code>
          <code>{{'             }' }}</code>
          <code>{{'  }' }}</code>
          <code>{{'}' }}</code>
        </pre>
      </div>
  </div>
</div>