/* Navbar styles */
.example-spacer {
    flex: 1 1 auto;
  }

  a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .mat-icon {
    color: white;
  }

  mat-toolbar {
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    min-width: 100%;
    height: 3.5rem;
    margin-bottom: 5%;
    background-color: #74AAA2;
  }

  ::ng-deep .menu-buttons {
    background-color: #DEF4EA;
  }

  .menu-text {
    color: #2E413D;
    font-family: 'Lora', serif;
  }